
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/*--------------------------------------------------------*/
/*FONTS*/
/*--------------------------------------------------------*/


@font-face {
    font-family: 'Roboto Thin';
    src: url('../font/r_thin/roboto-thin-webfont.eot');
    src: url('../font/r_thin/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/r_thin/roboto-thin-webfont.woff2') format('woff2'),
    url('../font/r_thin/roboto-thin-webfont.woff') format('woff'),
    url('../font/r_thin/roboto-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Roboto Medium';
    src: url('../font/r_med/roboto-medium-webfont.eot');
    src: url('../font/r_med/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/r_med/roboto-medium-webfont.woff2') format('woff2'),
    url('../font/r_med/roboto-medium-webfont.woff') format('woff'),
    url('../font/r_med/roboto-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Roboto Light';
    src: url('../font/r_light/roboto-light-webfont.eot');
    src: url('../font/r_light/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/r_light/roboto-light-webfont.woff2') format('woff2'),
    url('../font/r_light/roboto-light-webfont.woff') format('woff'),
    url('../font/r_light/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    min-width:1300px;
    width: auto !important;
    width:1300px;
    margin: 0 auto;
    position: relative;
}

.wrapper {
    width: 84.61538461538461%;
    max-width: 1300px;
    margin: 0 auto;
}

/*Header*/

header {
    position: fixed;
    z-index: 4;
    height: 191px;
    min-width: 900px;
}

.header-logo {
    float: left;
    width: 162px;
    height: 159px;
    padding-top: 32px;
}

.header-nav {
    min-width: 650px;
    left: 50%;
    position: absolute;
}

.header-nav-list-item {
    overflow: hidden;
    float: left;
    font-family: "Roboto Medium", sans-serif;
    font-size: 15px;
}



.header-nav-link{
    display: inline-block;
    text-decoration: none;
    padding: 57px 30px 12px;
    color: #fff;
    /**/
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, #20257f 50%);
    transition: background-position 0.3s;
}

.header-nav-link:hover {
    background-position: 0 -100%;
}

.header-nav-list-item-active{
    background: #20257f;
}

/*Header on scroll*/

.scroll-header {
    height: 110px;
    position: fixed;
    width: 100%;
    background: rgba(240, 240, 240, 0.8);
}

#leadership .scroll-header{
    background: inherit;
}

.scroll-header-logo {
    padding-top: 10px;
}

.scroll-header-logo-img {
    height: 90px;
}

.scroll-header-nav {
    height: 110px;
    float: right;
}

.scroll-header-nav-list-item {
    padding: 48px 30px 48px;
}



/*Banner*/

#main-banner {
    height: 780px;
    position: relative;
    top: -191px;
}

.next{
    background: url('../img/right-arrow.png') no-repeat;
    width: 20px;
    height: 35px;
}

.prev{
    background: url('../img/left-arrow.png') no-repeat;
    width: 20px;
    height: 35px;
}

.block-header {
    font-family: "Roboto Medium", sans-serif;
    font-size: 30px;
    color: #7a7a7a;
    margin-top: 80px;
    text-align: center;
}




.slider-content{
    position: absolute;
    z-index: 3;
    bottom: 301px;
    text-align: center;
    width: 100%;
}

.slider-content p{
    font-style: italic;
    font-size: 45px;
    text-align: center;

    font-family: "Roboto Thin", sans-serif;
}
.donate{
    width: 180px;
    height: 65px;
    background-color: rgba(40, 58, 145, 0.5);
    text-align: center;
    border-radius: 25px;
    position: absolute;
    left:50%;
    margin-left: -90px;
    margin-top: 100px;
}


.donate a {
    text-decoration: none;
    color: white;
    font-family: "Roboto Light", sans-serif;
    font-size: 32px;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 15px;
}

.donate:hover {
    background-color: rgba(40, 58, 145, 1);
}

.slider-content .author{
    font-size: 30px;
}

#activity {
    padding-top: 60px;
    margin-top: -191px;
}

#activity::after {
    display: block;
    content: "";
    clear: both;
}

#fund_mission {
    margin: 0 auto;
    text-align: center;
}

#fund_mission p {
    text-align: center;
    width: 65%;
    margin: 60px auto 0;
    color: #7a7a7a;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 20px;
}

#fund_mission p span {
    color: #2a3890;
}

#fund_mission a {
    padding-right: 23px;
    background: url('../img/right_arrow.png') no-repeat 272px;
    text-decoration: none;
    text-transform: uppercase;
    color: #434d99;
}

.headings{
    color: #2a3890;
    font-weight: bold;
}

#activity .wrapper{
    width: auto;
    max-width: 1300px;
    margin: 0 auto;
}

.activity-rectangle {
    width: 290px;
    height: 335px;
    float: left;
    margin: 45px 15px 0;
    cursor: pointer;
}


.rect1 {
    background: url('../img/rect1.jpg') top center no-repeat;
    background-size: cover;
}

.rect2 {
    background: url('../img/rect2.jpg') top center no-repeat;
    background-size: cover;
}

.rect3 {
    background: url('../img/rect3.jpg') top center no-repeat;
    background-size: cover;
}

.rect4 {
    background: url('../img/rect4.jpg') top center no-repeat;
    background-size: cover;
}

.rect1:hover {
    background: url('../img/rect1_hover.jpg') top center no-repeat;
    background-size: cover;
}

.rect2:hover {
    background: url('../img/rect2_hover.jpg') top center no-repeat;
    background-size: cover;
}

.rect3:hover {
    background: url('../img/rect3_hover.jpg') top center no-repeat;
    background-size: cover;
}

.rect4:hover {
    background: url('../img/rect4_hover.jpg') top center no-repeat;
    background-size: cover;
}

.box-text{
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 40px;
    height: 60%;
    text-align: center;
}

.details-fond {
    margin: 20px auto 0;
    width: 260px;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    background: url('../img/right_arrow.png') right center no-repeat;
    cursor: pointer;
}

.text-add {
    color: #83c434;
}

.box-details {
    margin-top: 45px;
    text-align: center;
}

.box-details a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

#activity h2 {
    text-transform: uppercase;
    color: #7a7a7a;
    text-align: center;
    margin-top: 110px;
}

.activity-list-item {
    width: 280px;
    height: 280px;
    background: #f00;
    float: left;
    margin: 10px;
}

.hidden-details{
    margin-top: 20px;
    display:none;
    background: #f2f2f2;
    border-top: 1px solid #c6e0a6;
    border-bottom: 1px solid #c6e0a6;
    padding-bottom: 30px;
}

.hidden-details p{
    color: #7a7a7a;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    width: 85%;
    margin: 0 auto;
    -webkit-hyphens: auto;
    text-indent: 40px;
    line-height: 2;
    margin-top: 35px;
}

.hidden-details-active{
    -webkit-filter: drop-shadow(0 1px 10px #83c434);
    -moz-box-shadow: 0 1px 10px #83c434;
    filter: drop-shadow(0 1px 10px #83c434);
}

.hidden-details {
    top: 40px;
    position: relative;
    width: 100%;
}

.hidden-details:after,
.hidden-details:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.hidden-details:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color:  #f2f2f2;
    border-width: 19px;
    left: 50%;
    margin-left: -19px;
}
.hidden-details:before {
    border-bottom-color:  #c6e0a6;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}



.clear-activity{
    display: block;
    content: "";
    clear: both;
}

.about-us{
    margin-top: 80px;
    background: #f2f2f2;
    position: relative;
}

.about-us-title{
    text-align: center;
    font-family: "Roboto Medium", sans-serif;
    font-size: 30px;
    color: #7a7a7a;
    margin-top: 45px;
    margin-bottom: 25px;
}

.about-us-text{
    color: #7a7a7a;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    width: 85%;
    margin: 0 auto;
    -webkit-hyphens: auto;
    text-indent: 40px;
    line-height: 2;
    margin-top: 35px;
}

.about-us-article{
    margin-top: 40px;
    border-top: 1px solid #c6e0a6;
    border-bottom: 1px solid #c6e0a6;
}

.phrase-text{
    width: 370px;
    margin-right: 223px;
    float: right;
    font-style:italic;
}

.phrase-text cite{
    font-style:normal;
}

.about-us blockquote {
    font-family: "Roboto Light", sans-serif;
    height: 100px;
    color: #2a3890;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-us blockquote cite {
    float: right;
    margin-top: 10px;
}

.about-us img{
    position: absolute;
    right: 210px;
    bottom: 40px;
}

b {
    font-weight: bold;
}

/*Current programs*/

.current-programs {

    min-height: 1000px;
    padding-bottom: 30px;

}

.box {
    height: 338px;
    width: 338px;
    float: left;
    margin: 20px 20px;
    background: url('../img/box.jpg') top center no-repeat;
    /*background-size: cover;*/
}

.rect-vert {
    height: 718px;
    width: 338px;
    margin: 20px 20px;
    background-color: green;
    float: right;
    background: url('../img/rect-vert.jpg') top center no-repeat;
    /*background-size: cover;*/
}

.box:hover {
    background: url('../img/box-hover.jpg') top center no-repeat;
    /*background-size: cover;*/
}

.rect-vert:hover {
    background: url('../img/rect-vert-hover.jpg') top center no-repeat;
    /*background-size: cover;*/
}

.box-header {
    font-family: "Roboto Medium", sans-serif;
    color: white;
    font-size: 35px;
    padding-top: 40px;
}

.current-programs-box-wrapper:after {
    display: block;
    content: '';
    clear: both;
}

.programs-box {
    background-color: green;
    width: 100%;
    height: 50px;
    display: none;
}

.box:hover .programs-box {
    display: block;
}

.feedback-header {
    font-family: "Roboto Light", sans-serif;
    font-size: 35px;
    color: #7a7a7a;
    margin: 55px 0 40px;
    display: block;
}

.feedback-link {
    width: 170px;
    height: 40px;
    background-color: #2a3890;
    text-align: center;
    border-radius: 25px;
    margin: 0 auto 0;
}

.feedback-link a {
    text-decoration: none;
    color: white;
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2;
}

.feedback-link:hover {
    background-color: #0482c6;
}

.write-us-header {
    color: #7a7a7a;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: "Roboto Light", sans-serif;
}

/* NEWS*/

.news {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f2f2f2;
    position: relative;
    border-top: 1px solid #c6e0a6;
    border-bottom: 1px solid #c6e0a6;
}

.news img{
    width: 100%;
}

.news p{
    color: #7a7a7a;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    width: 85%;
    margin: 0 auto;
    -webkit-hyphens: auto;
    text-indent: 40px;
    line-height: 2;
}

.news .news-title{
    text-align: center;
    font-family: "Roboto Medium", sans-serif;
    font-size: 30px;
    color: #7a7a7a;
    margin-bottom: 25px;
}


/*Footer*/

footer {
    min-height: 90px;
    border-top: solid 1px #c6e0a6;
    background: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Roboto Medium", sans-serif;
}

.footer-activity-block,
.contact-info {
    display: inline-block;
}


.footer-activity-block {
    width: 570px;
    height: 83px;
}

.footer-activity-block::after {
    display: block;
    content: '';
    clear: both;
}

.footer-activity-block a {
    padding: 6px;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    float: right;
    border-radius: 25px;
}

#footer-sign-up a {
    border: 1px solid #6872ae;
    color: #6872ae;
}

#footer-sign-up a:hover {
    color:#f2f2f2;
    background-color:#2a3890
}

#footer-join a {
    border: 1px solid #9cd05d;
    color: #9cd05d;
}

#footer-join a:hover{
    background-color: #83c434;
    color: #9cd05d;
}

.footer-activity-block input {
    padding-left: 40px;
    width: 173px;
    height: 21px;
    border-top: solid 1px #c6e0a6;
    border-left: solid 1px #c6e0a6;
    background: url('../img/mail-icon.png') no-repeat 14px;
    float: right;
    position: relative;
    top: -1px;
    color:#6872ae;
    font-weight:bold;
}

.footer-activity-block label {
    font-size: 20px;
    text-transform: uppercase;
}

.sign-up-field-label span {
    color: #2a3890;
}

.join-field-label span {
    color: #83c434;
}

#sign-up-field-wrapper,
#join-field-wrapper {
    width: 455px;
    margin-bottom: 31px;
    display: inline-block;
}

.contact-info {
    width: 150px;
    height: 78px;
    margin-left: 120px;
}

#youtube-link,
#facebook-link {
    color: transparent;
}

#youtube-link {
    background: url(../img/contacts.png) no-repeat 0 -30px;
    display: inline-block;
    height: 24px;
}

#youtube-link:hover {
    background: url(../img/contacts.png) no-repeat;
}

#facebook-link {
    background: url(../img/contacts.png) no-repeat -68px 1px;
    display: inline-block;
    height: 25px;
    width: 11px;
    margin-left: 24px;
}

#facebook-link:hover {
    background: url(../img/contacts.png) no-repeat -68px -29px;
}

.phone-number {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 17px;
}

.footer-social {
    margin-top: 36px;
}

#footer-logo {
    margin-left: 120px;
    position: relative;
    top: 12px;
}


/*--------------------------------------------------------*/
/*Leadership*/
/*--------------------------------------------------------*/





#leadership .founder-1{
    height:740px;
    background: url('../img/koshevets.png');
    background-size: cover;
    background-position: 40% 20%;

}

.founder-1-text{
    font-family: "Roboto Light", sans-serif;
    font-size: 22px;
    color:#7a7a7a;
    position: absolute;
    left:50%;
    top:300px;
    text-indent: 40px;
    line-height: 2;
    text-align: left;
}

.blue-text{
    color:#2a3890;
}

.white-text{
    color:#f2f2f2;
}

.write-us{
    padding-bottom: 30px;
}

#about-mission .mission{
    height:740px;
    background: url('../img/fund_mission.jpg');
    background-size: cover;
    background-position: 40% 20%;
}

.mission-text {
    padding: 10px 100px;
    font-family: "Roboto Light", sans-serif;
    font-size: 22px;
    color: white;
    position: absolute;
    /* left: 50%; */
    top: 280px;
    text-indent: 40px;
    line-height: 2;
    text-align: justify;
}

.mission-header {
    /* padding: 10px 100px; */
    font-family: "Roboto Light", sans-serif;
    font-size: 22px;
    color: white;
    position: absolute;
    left: 50%;
    margin-left: -91px;
    top: 200px;
    text-indent: 40px;
    line-height: 2;
    text-align: center;
}

