
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/*--------------------------------------------------------*/
/*FONTS*/
/*--------------------------------------------------------*/


@font-face {
    font-family: 'Roboto Thin';
    src: url('../font/r_thin/roboto-thin-webfont.eot');
    src: url('../font/r_thin/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/r_thin/roboto-thin-webfont.woff2') format('woff2'),
    url('../font/r_thin/roboto-thin-webfont.woff') format('woff'),
    url('../font/r_thin/roboto-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../font/r_med/roboto-medium-webfont.eot');
    src: url('../font/r_med/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/r_med/roboto-medium-webfont.woff2') format('woff2'),
    url('../font/r_med/roboto-medium-webfont.woff') format('woff'),
    url('../font/r_med/roboto-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Light';
    src: url('../font/r_light/roboto-light-webfont.eot');
    src: url('../font/r_light/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/r_light/roboto-light-webfont.woff2') format('woff2'),
    url('../font/r_light/roboto-light-webfont.woff') format('woff'),
    url('../font/r_light/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    min-width: 800px;
    margin: 0 auto;
    position: relative;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

/*Header*/

header {
    position: fixed;
    z-index: 4;
    height: 191px;
    width: 100%;
    min-width: 900px;
}

.header-logo {
    float: left;
    width: 162px;
    height: 159px;
    padding-top: 32px;
}

.header-nav {
    height: 110px;
    position: absolute;
    left: 50%;
    margin-left: -360px;
}

.header-nav-list-item {
    overflow: hidden;
    float: left;
    font-family: "Roboto Medium", sans-serif;
    font-size: 15px;
}

.header-nav-link{
    display: inline-block;
    text-decoration: none;
    padding: 48px 25px 48px;
    color: #20257f;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, #20257f 50%);
    transition: background-position 0.3s;
}

.header-nav-link:hover {
    color: #fff;
    background-position: 0 -100%;
}

.header-nav-list-item-active{
    background: #20257f;
}

/*Header on scroll*/

.scroll-header {
    height: 110px;
    position: fixed;
    width: 100%;
    background: rgba(240, 240, 240, 0.8);
}

#leadership .scroll-header{
    background: rgba(240, 240, 240, 0.8);
}

.scroll-header-logo {
    margin: 0 !important;
    padding-top: 10px;
}

.scroll-header-logo-img {
    height: 90px !important;
    width: 90px !important;
}

.scroll-header-nav {
    display: block !important;
    height: 110px;
    position: absolute;
    left: 50%;
    margin-left: -360px;
}

.scroll-header-nav-list-item {
    padding: 48px 25px 48px;
}

/*Banner*/

#main-banner {
    //min-height: 780px;
    position: relative;
}

.next{
    background: url('../img/right-arrow.png') no-repeat;
    width: 20px;
    height: 35px;
}

.prev{
    background: url('../img/left-arrow.png') no-repeat;
    width: 20px;
    height: 35px;
}

.block-header {
    font-family: "Roboto Medium", sans-serif;
    font-size: 30px;
    color: #7a7a7a;
    margin-top: 80px;
    text-align: center;
}

.slider-content{
    position: absolute;
    z-index: 3;
    top:50%;
    text-align: center;
    width: 100%;
}

.slider-content p{
    font-style: italic;
    font-size: 45px;
    text-align: center;
    font-family: "Roboto Thin", sans-serif;
}

.first-slider-content p {
    font-family: "Roboto Medium", sans-serif;
}

.first-slider-content {
    top:30%;
    line-height: 1.3;
    font-family: "Roboto Medium", sans-serif;
}

.first-slider-content p:nth-child(1) {
    font-size: 50px;
}

.first-slider-content p:nth-child(2) {
    font-size: 50px;
}

.first-slider-content p:nth-child(3) {
    font-size: 30px;
}

.first-slider-content p:nth-child(3) span {
    position: relative;
    top: 35px;
}

.donate{
    width: 180px;
    height: 65px;
    background-color: rgba(40, 58, 145, 0.5);
    text-align: center;
    border-radius: 25px;
    position: absolute;
    left:50%;
    margin-left: -90px;
    margin-top: 100px;
}


.donate a {
    text-decoration: none;
    color: white;
    font-family: "Roboto Light", sans-serif;
    font-size: 32px;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 15px;
}

.donate:hover {
    background-color: rgba(40, 58, 145, 1);
}

.slider-content .author{
    font-size: 30px;
}

#activity {
    margin: 0 auto;
    padding-top: 60px;
}

#activity .wrapper{
    max-width: 1280px;
}

#activity::after {
    display: block;
    content: "";
    clear: both;
}

#fund_mission {
    margin: 0 auto;
    text-align: center;
}

#fund_mission p {
    text-align: center;
    width: 65%;
    margin: 60px auto 0;
    color: #7a7a7a;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 20px;
}

#fund_mission p span {
    color: #2a3890;
}

#fund_mission a {
    padding-right: 23px;
    background: url('../img/right_arrow.png') no-repeat 272px;
    text-decoration: none;
    text-transform: uppercase;
    color: #434d99;
}

.headings{
    color: #2a3890;
    font-weight: bold;
}

#activity .wrapper{
    width: auto;

    margin: 0 auto;
}

.activity-rectangle {
    width: 25%;
    height: 300px;
    float: left;
    margin-top: 20px;
    cursor: pointer;
    border-left: 1px solid #909090;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.5s;
}

.activity-rectangle:hover {

    -webkit-box-shadow: inset 0px 0px 37px 2px #909090;
    -moz-box-shadow: inset 0px 0px 37px 2px #909090;
    box-shadow: inset 0px 0px 37px 2px #909090;
}


.rect1 {
    background: url('../img/rect1.jpg') top center no-repeat;
    background-size: cover;
}

.rect2 {
    background: url('../img/rect2.jpg') top center no-repeat;
    background-size: cover;
}

.rect3 {
    background: url('../img/rect3.jpg') top center no-repeat;
    background-size: cover;
}

.rect4 {
    background: url('../img/rect4.jpg') top center no-repeat;
    background-size: cover;
}

.uppercase {
    text-transform: uppercase;
}

.green-text {
    color: #046e25;
}

.bold {
    font-weight: bold;
}

.box-text{
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 40px;
    height: 60%;
    text-align: center;
}

.details-fond {
    margin: 20px auto 0;
    width: 260px;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    background: url('../img/right_arrow.png') right center no-repeat;
    cursor: pointer;
}

.text-add {
    color: #83c434;
}

.box-details {
    margin-top: 45px;
    text-align: center;
}

.box-details a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

#activity h2 {
    text-transform: uppercase;
    color: #7a7a7a;
    text-align: center;
    margin-top: 110px;
}

.activity-list-item {
    width: 280px;
    height: 280px;
    background: #f00;
    float: left;
    margin: 10px;
}

.hidden-details{
    margin-top: 20px;
    display:none;
    background: #f2f2f2;
    border: 1px solid #c6e0a6;
    padding-bottom: 30px;
}

.hidden-details p{
    color: #7a7a7a;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    width: 85%;
    margin: 0 auto;
    -webkit-hyphens: auto;
    text-indent: 40px;
    line-height: 2;
    margin-top: 35px;
}

.hidden-details-active{
    -webkit-filter: drop-shadow(0 1px 10px #83c434);
    -moz-box-shadow: 0 1px 10px #83c434;
    filter: drop-shadow(0 1px 10px #83c434);
}

.hidden-details {
    top: 40px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#hidden-details-rect1:before, #hidden-details-rect1:after{
    left:13%;
}

#hidden-details-rect2:before, #hidden-details-rect2:after{
    left:38%;
}

#hidden-details-rect3:before, #hidden-details-rect3:after{
    left:63%;
}

#hidden-details-rect4:before, #hidden-details-rect4:after{
    left:88%;
}

.hidden-details:after,
.hidden-details:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.hidden-details:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color:  #f2f2f2;
    border-width: 19px;
    //left: 50%;
    margin-left: -19px;
}
.hidden-details:before {
    border-bottom-color:  #c6e0a6;
    border-width: 20px;
    //left: 50%;
    margin-left: -20px;
}

.clear-activity{
    display: block;
    content: "";
    clear: both;
}

.about-us{
    margin-top: 80px;
    background: #f2f2f2;
    position: relative;
}

.about-us-title{
    text-align: center;
    font-family: "Roboto Medium", sans-serif;
    font-size: 30px;
    color: #7a7a7a;
    margin-top: 45px;
    margin-bottom: 25px;
}

.about-us-text{
    color: #7a7a7a;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    width: 85%;
    margin: 0 auto;
    -webkit-hyphens: auto;
    text-indent: 40px;
    line-height: 2;
    margin-top: 35px;
}

.about-us-article{
    margin-top: 40px;
    border-top: 1px solid #c6e0a6;
    border-bottom: 1px solid #c6e0a6;
    padding-bottom: 40px;
}

.phrase-text{
    width: 370px;
    margin-right: 223px;
    float: right;
    font-style:italic;
}

.phrase-text cite{
    font-style:normal;
}

.about-us blockquote {
    font-family: "Roboto Light", sans-serif;
    height: 100px;
    color: #2a3890;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-us blockquote cite {
    float: right;
    margin-top: 10px;
}

.about-us img{
    position: absolute;
    right: 210px;
    bottom: 40px;
}

b {
    font-weight: bold;
}

/*Current programs*/

.current-programs {
    padding-bottom: 30px;
}

.box {
    height:0;
    padding-bottom: 25%;
    width: 25%;
    float: left;
    margin: 20px 0;
    color: #7a7a7a;
    border-left: 1px solid #909090;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.5s;
    background-image: url('../img/rect1_hover.jpg');
    background-size: cover;
}

.box:hover {
    -webkit-box-shadow: inset 0px 0px 37px 2px #909090;
    -moz-box-shadow: inset 0px 0px 37px 2px #909090;
    box-shadow: inset 0px 0px 37px 2px #909090;
}

.box:first-child {
    border-left: none;
}

.box span {
    color: #7a7a7a;
}

.box-header {
    font-family: "Roboto Medium", sans-serif;
    color: #000;
    font-size: 35px;
    padding-top: 40px;
}

.current-programs-box-wrapper:after {
    display: block;
    content: '';
    clear: both;
}

.programs-box {
    background-color: green;
    width: 100%;
    height: 50px;
    display: none;
}

.feedback-header {
    font-family: "Roboto Light", sans-serif;
    font-size: 35px;
    color: #7a7a7a;
    margin: 55px 0 40px;
    display: block;
}

.feedback-link {
    width: 170px;
    height: 40px;
    background-color: #2a3890;
    text-align: center;
    border-radius: 25px;
    margin: 0 auto 0;
}

.feedback-link a {
    text-decoration: none;
    color: white;
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2;
}

.feedback-link:hover {
    background-color: #0482c6;
}

.write-us{
    height:140px;
}

.write-us-header {
    color: #7a7a7a;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: "Roboto Light", sans-serif;
}

/*Modal window styles*/

#modal_form {
    width: 500px;
    height: 400px;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -220px;
    margin-left: -250px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
}

#modal_form h3 {
    text-transform: uppercase;
    color: #fff;
    width: 400px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}

#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}

.modal-field-wrapper {
    position: relative;
}

.modal_form_input {
    font-size: 16px;
    width: 350px;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-top: 2px solid #353e26;
    color: #fff;
    padding-left: 50px;
}

.modal_name {
    background: url('../img/modal-person-icon.png') no-repeat 10px 4px, rgba(37, 37, 37, 0.8);
    background-size: 25px;
}

.modal_email {
    background: url('../img/modal-message-icon.png') no-repeat 10px 9px, rgba(37, 37, 37, 0.8);
    background-size: 25px;
}

.modal_phone {
    background: url('../img/modal-phone-icon.png') no-repeat 10px 4px, rgba(37, 37, 37, 0.8);
    background-size: 25px;
}

.modal_message {
    background: url('../img/modal-pen-icon.png') no-repeat 10px 10px, rgba(37, 37, 37, 0.8);
    background-size: 25px;
    padding-top: 10px;
    height: 110px;
    resize: none;
}

.modal-error {
    color: #f00;
    position: absolute;
    bottom: 5px;
    left: 0;
    font-size: 12px;
}

#overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}

.modal_form_submit {
    text-decoration: none;
    color: white;
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
    display: block;
    line-height: 2;
    background: #2a3890;
    border: none;
    border-radius: 25px;
    padding: 4px 14px;
    margin-top: 10px;
}

/* end modal window*/

/* NEWS*/

.news {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f2f2f2;
    position: relative;
    border-top: 1px solid #c6e0a6;
    border-bottom: 1px solid #c6e0a6;
}

.news img{
    width: 100%;
}

.news p{
    color: #7a7a7a;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    width: 85%;
    margin: 0 auto;
    -webkit-hyphens: auto;
    text-indent: 40px;
    line-height: 2;
}

.news .news-title{
    text-align: center;
    font-family: "Roboto Medium", sans-serif;
    font-size: 30px;
    color: #7a7a7a;
    margin-bottom: 25px;
}


/*Footer*/

footer {
    min-height: 90px;
    border-top: solid 1px #c6e0a6;
    background: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Roboto Medium", sans-serif;
}

footer .wrapper {
    max-width: 1070px;
    text-align: center;
}

.footer-activity-block,
.contact-info {
    display: inline-block;
}


.footer-activity-block {
    width: 570px;
    height: 83px;
    margin-bottom: 20px;
}

.footer-activity-block::after {
    display: block;
    content: '';
    clear: both;
}

.footer-activity-block a {
    padding: 6px;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    float: right;
    border-radius: 25px;
}

#footer-sign-up {
    position: relative;
}

#footer-sign-up a {
    border: 1px solid #6872ae;
    color: #6872ae;
}

#footer-sign-up a:hover {
    color:#f2f2f2;
    background-color:#2a3890
}

#footer-join a {
    border: 1px solid #9cd05d;
    color: #9cd05d;
}

#footer-join a:hover{
    background-color: #83c434;
    color: #9cd05d;
}

.footer-activity-block input {
    padding-left: 40px;
    width: 173px;
    height: 21px;
    border-top: solid 1px #c6e0a6;
    border-left: solid 1px #c6e0a6;
    background: url('../img/mail-icon.png') no-repeat 14px;
    float: right;
    position: relative;
    top: -1px;
    color:#6872ae;
    font-weight:bold;
}

.footer-activity-block label {
    font-size: 20px;
    text-transform: uppercase;
}

.sign-up-field-label span {
    color: #2a3890;
}

.join-field-label span {
    color: #83c434;
}

#sign-up-field-wrapper,
#join-field-wrapper {
    width: 455px;
    margin-bottom: 31px;
    display: inline-block;
}

.thanks-for-subscribe {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 10px;
    color: #9ecd62;
    display: none;
}

.footer-side-wrapper {
    display: inline-block;
    margin-left: 6%;
}

.contact-info {
    width: 150px;
    height: 78px;
}

#youtube-link,
#facebook-link {
    color: transparent;
}

#youtube-link {
    background: url(../img/contacts.png) no-repeat 0 -30px;
    display: inline-block;
    height: 24px;
}

#youtube-link:hover {
    background: url(../img/contacts.png) no-repeat;
}

#facebook-link {
    background: url(../img/contacts.png) no-repeat -68px -29px;
    display: inline-block;
    height: 25px;
    width: 11px;
    margin-left: 24px;
}

#facebook-link:hover {
    background: url(../img/contacts.png) no-repeat -68px 1px;
}

.phone-number {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 17px;
}

.phone-number:hover{
    color: #2a3890;
}

.footer-social {
    margin-top: 36px;
}

#footer-logo {
    height: 100px;
    margin-left: 120px;
    position: relative;
    top: 12px;
}

.white-text{
    color:white;
}


/*--------------------------------------------------------*/
/*Leadership*/
/*--------------------------------------------------------*/

.leadership-header {
    height: 110px;
    position: fixed;
    min-width:800px;
    width: 100%;
    background: rgba(240, 240, 240, 0.8);
    z-index: 4;
}

.leadership-header-logo {
    padding-top: 10px;
    float: left;
    width: 162px;
    height: 159px;
}

.leadership-header-logo-img {
    height: 90px;
}

.leadership-header-nav {
    height: 110px;
    position: absolute;
    left: 50%;
    margin-left: -360px;
}

.leadership-header-nav-list-item {
    overflow: hidden;
    float: left;
    font-family: "Roboto Medium", sans-serif;
    font-size: 15px;
}

.leadership-header-nav-list-item-link {
    display: inline-block;
    text-decoration: none;
    padding: 48px 24px 48px;
    color: #20257f;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, #20257f 50%);
    transition: background-position 0.3s;
}

.leadership-header-nav-list-item-link:hover {
    background-position: 0 -100%;
    color:white;
}

.leadership-header-nav-list-item-link-active {
    color:white;
    background: #20257f;
}

.leadership-founder-1 {
    height:740px;
    background: url('../img/koshevets.png');
    background-size: cover;
    background-position: 40% 20%;
}

.leadership-founder-1-text {
    font-family: "Roboto Light", sans-serif;
    font-size: 22px;
    color:#7a7a7a;
    position: absolute;
    left:50%;
    top:300px;
    text-indent: 40px;
    line-height: 2;
    text-align: left;
}

.blue-text {
    color: #201b6f;
}

.leadership-blue-text, .blue-text {
    color:#2a3890;
}

.leadership-write-us {
    padding-bottom: 30px;
}

.leadership-write-us-header {
    color: #7a7a7a;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: "Roboto Light", sans-serif;
}

.leadership-feedback-link {
    width: 170px;
    height: 40px;
    background-color: #2a3890;
    text-align: center;
    border-radius: 25px;
    margin: 0 auto 0;
}

.leadership-feedback-link a {
    text-decoration: none;
    color: white;
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2;
}

#about-mission .mission{
    height:740px;
    background: url('../img/fund_mission.jpg');
    background-size: cover;
    background-position: 40% 70%;
}

.mission-text {
    padding: 10px 100px;
    font-family: "Roboto Light", sans-serif;
    font-size: 22px;
    color: white;
    position: absolute;
    left: 50%;
    top: 280px;
    text-indent: 40px;
    line-height: 2;
    text-align: justify;
}

.mission-header {
    padding: 10px 100px;
    font-family: "Roboto Light", sans-serif;
    font-size: 22px;
    color: white;
    position: absolute;
    left: 50%;
    margin-left: -180px;
    top: 200px;
    text-indent: 40px;
    line-height: 2;
    text-align: center;
}

.video-backstage, li video{
    width: 100%;
    height:100%;
    position: absolute;

}

#video-placeholder{
    width:100%;
    height:113.7%;
    z-index: 999;
    position: absolute;
    top:-50px;
}

#news-video-placeholder{
    width:100%;
    height:600px;
    z-index: 999;
    position: relative;
    top:-50px;
}

#news-image1{
    background-image: url('../img/america2.jpg');
    background-size: cover;
    width: 100%;
    height: 500px;
}

#first-slide-text{
    text-align: justify;
}

#second-slide-text{
    position: relative;
    bottom:0;
}

#second-slide-text p{
    text-align: justify;
}

#language-icon{
    width: 25px;
    height:16px;
    float: right;
    margin-left: 5px;
    margin-top: -1px;
}